@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "";
}
<div class="row">
    <div class="col-md-2">
        <img src="@Url.Content($"{webHelper.GetStoreLocation()}Plugins/Payments.Rave/logo.jpg")" alt="Rave" />
    </div>
    <div class="col-md-8">
        <b>@T("Plugins.Payments.Rave.Fields.RedirectionTip")</b>
    </div>
</div>
